<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit your Chats</title>
  </head>
  <body>
    <h3>Edit Your Chats : <%= chat._id %></h3>
    <p>
      This chat was sent from <i><b><%= chat.from %></b></i> to
      <i><b><%= chat.to %></b></i>
    </p>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
      <textarea name="msg" id="" cols="50" rows="10"><%= chat.msg %></textarea>
      <br />
      <button>Submit / Edit</button>
    </form>
  </body>
</html>
